.ProductsSummary{
    text-align: left;
    margin-bottom: 16px;
}

.ProductsSummary p {
    margin: 8px 0;
}

.ProductsSummary .productTitle{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ProductsSummary .productTitle a {
    font-size: 12px;
    cursor: pointer;
}

.ProductsSummary .productTitle span {
    font-family: 'Supermercado One', cursive;
    font-size: 24px;
}

.ProductsSummary input[type="number"] {
    width: 30px;
    margin-right: 8px;
}

.ProductsSummary .breakdown {
    display: flex;
    justify-content: space-between;
}